.form {
    display: inline-block;
    width: 100%;
}

.form > * {
    margin-bottom: 20px;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form > label {
    display: none;
}

.form > .input {
    width: 100%;
    padding: 0.5em 0;
    font-size: 17px;
    float: left;
    background-color: transparent;
    line-height: 1.5em;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0.2em;
}

.form > textarea {
    width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 300px;
    resize: vertical;
}

.form *:focus {
    outline: 1px solid var(--secondary-color);
}
